{% extends "layout.html" %}

{% block content %}

    <form method="POST" action="/profile">

        <h2>Edit your profile information.</h2>
        
        <!-- email should be handled with a noreply email -->
        <!-- <div class="form-control">
            <label for="email">Email: {{ user_infos["email"] }}</label>
            <input type="email" name="email" placeholder="Email">
        </div> -->
        <div class="form-control">
            <label class="header">Profile Photo:</label>
            <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
        </div>


        <div class="form-control">
            <label for="email">Email: {{ user_infos["email"] }}</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="form-control">
            <label for="password">Password: {{ user_infos["password"] }}</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="form-control">
            <label for="username">User Name: {{ user_infos["username"] }}</label>
            <input type="username" name="username" placeholder="Username">
        </div>
        <div class="form-control">
            <label for="company">Company Name : {{ user_infos["company"] }}</label>
            <input type="company" name="company" placeholder="Username">
        </div>
        <div class="form-control">
            <label for="title">Title: {{ user_infos["title"] }}</label>
            <input type="title" name="title" placeholder="title">
        </div>
        <div class="form-control">
            <label for="country">Country: {{ user_infos["country"] }}</label>
            <input type="country" name="country" placeholder="country">
        </div>
        <div class="form-control">
            <label for="adress">Adress: {{ user_infos["adress"] }}</label>
            <input type="adress" name="adress" placeholder="adress">
        </div>
        <input type="submit" class="upload-label" value="Save Changes">
    </form>


{% endblock %}
