{% extends "layout.html" %}

{% block content %}

<p>Home > My Project</p>
  <hr>
  <br>

  <section>
    <h2>My Active Projects</h2>

  </section>
<br>


<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <div>
        <div class="card" style="width: 18rem;">
        <img src="https://achievement-images.teamtreehouse.com/badges_html_forms_stage3.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">save tree</h5>
          <p class="card-text">save</p>
          
          <div>
            <a href="#" class="btn btn-primary">Details</a>
         <i class="fa fa-tag" aria-hidden="true"></i>
         &nbsp  &nbsp
         <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
        </div>
      </div>
       
       </div>
    </div>

    <div class="col">
      <div>
        <div class="card" style="width: 18rem;">
        <img src="https://achievement-images.teamtreehouse.com/badges_html_forms_stage3.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">save tree</h5>
          <p class="card-text">save</p>
          
          <div>
            <a href="#" class="btn btn-primary">Details</a>
         <i class="fa fa-tag" aria-hidden="true"></i>
         &nbsp  &nbsp
         <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
        </div>
      </div>
       
       </div>
    </div>

    <div class="col">
      <div>
        <div class="card" style="width: 18rem;">
        <img src="https://achievement-images.teamtreehouse.com/badges_html_forms_stage3.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">save tree</h5>
          <p class="card-text">save</p>
          
          <div>
            <a href="#" class="btn btn-primary">Details</a>
         <i class="fa fa-tag" aria-hidden="true"></i>
         &nbsp  &nbsp
         <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
        </div>
      </div>
       
       </div>
    </div>

    <div class="col">
      
    </div>

  </div>
</div>

<br>
<hr>
  <br>

  <section>
    <h2>My Drafts</h2>

  </section>
<br>


<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
      <div>
        <div class="card" style="width: 18rem;">
        <img src="https://achievement-images.teamtreehouse.com/badges_html_forms_stage3.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">save tree</h5>
          <p class="card-text">save</p>
          
          <div>
            <a href="#" class="btn btn-primary">Details</a>
         <i class="fa fa-tag" aria-hidden="true"></i>
         &nbsp  &nbsp
         <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
        </div>
      </div>
       
       </div>
    </div>

    

    <div class="col">
      <div>
        <div class="card" style="width: 18rem;">
        <img src="https://achievement-images.teamtreehouse.com/badges_html_forms_stage3.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">save tree</h5>
          <p class="card-text">save</p>
          
          <div>
            <a href="#" class="btn btn-primary">Details</a>
         <i class="fa fa-tag" aria-hidden="true"></i>
         &nbsp  &nbsp
         <i class="fa fa-paperclip" aria-hidden="true"></i>
        </div>
        </div>
      </div>
       
       </div>
    </div>

    <div class="col">
      
    </div>

  </div>
</div>

{% endblock %}
